*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    text-align: center;
}

.contenedor{
    margin: auto;
    background-color: lemonchiffon;
    width: 900px;
    height: 600px;
    border: 5px solid black;
}

h1{
    padding-top: 20px;
}

.Nombre{
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    font-weight: bold;
}

.Nombre input{
    width: 420px;
    height: 25px;
    margin-left: 20px;
}

.FechaNacimiento{
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
    font-weight: bold;
}

.FechaNacimiento input{
    width: 150px;
    margin-left: 20px;
    height: 25px;
}

.LugarNacimiento{
    font-weight: bold;
    text-align: right;
    margin-top: -130px;
    margin-bottom: 100px;
    padding-right: 225px;
}

.LugarNacimiento select{
    width: 155px;
    margin-left: 20px;
    height: 25px;
}

.poblacion{
    font-weight: bold;
    text-align: left;
    float: right;
    margin-top: -143px;
    margin-right: 10px;
}

.poblacion input{
    height: 20px;
}

.idiomas{
    text-align: left;
    float: right;
    margin-top: -90px;
    padding-right: 40px;
}

.idiomas li{
    width: 435px;
    height: 60px;
    background-color: rgb(1, 1, 1, .10);
    list-style: none;
}

.idiomas input{
    margin-top: 20px;
    margin-left: 28px;
}

.Sexo{
    text-align: left;
    padding-left: 20px;
    width: 240px;
}

.Sexo li{
    width: 265px;
    text-align: left;
    height: 60px;
    background-color: rgb(1, 1, 1, .10);
    list-style: none;
}

.Sexo input{
    margin-top: 20px;
    margin-left: 20px;
}

.correo{
    margin-bottom: 20px;
    width: 300px;
    float: left;
    margin-left: 20px;
    height: 25px;
    color: black;
}

.egresoPrimaria{
    float: left;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 400px;
    font-weight: bold;
}

.egresoPrimaria input{
    margin-left: 80px;
}

.habitos{
    margin-right: 20px;
    text-align: left;
    float: right;
    margin-top: -120px;
    font-weight: bold;
}

.habitos textarea{
    width: 450px;
    height: 100px;
}

.ingresos{
    text-align: center;
    float: left;
    display: grid;
    font-weight: bold;
    width: 410px;
    margin-left: 20px;
}

.ingresos input{
    margin-top: 20px;
    width: 400px;
}

.ingresos label {
    width: 460px;
    text-align: left;
    font-size: 14px;
}

.horario{
    font-weight: bold;
    margin-right: 100px;
    float: right;
    margin-top: 15px;
}

.horario input{
    margin-top: 10px;
    max-width: 80px;
}

#botones{
    margin-top: 10px;
    margin-right: 20px;
    width: 150px;
    height: 36px;
}

#ListaIngresos{
    font-size: 8px;
    word-spacing: 2.2em;
}

