/*Selector universal*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Selector de etiquetas*/

body{
    background-color:  white;
    color: black;
}

.img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: solid 1px;
    margin-left: 5px;
    margin-right: 5px;
    justify-items: center;
}

.img2{
    width: 240px;
    height: 180px;
    border-radius: 8px;
    margin-bottom: 1.5em;
}

.encabezado-aside{
    padding: 10px 10px;
    text-align: center;
    background-color: #3a251c;
    color: white;
}

.encabezado{
    height: 15%;;
    padding: 10px 10px;
    text-align: center;
    border-radius: 5px;
    margin-left: 0.3em;
    margin-right: 0.3em;
    background-color: #3a251c;
    color: white;
}

.texto{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px 25px;
    padding-top: 10px;
    color: white;
}

.texto2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px 25px;
    padding-top: 10px;
    color: white;
}

.texto-aside{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

/*Selector id*/
#contenedor{
    width: 900px;
    height: 1000px;
    background-color:  #f1ecea;
    border-radius: 5px;
}

#contenido{
    height: 75%;
    width: 64%;
    background-color: #362f2f;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}

#contenido article{
    border-style: dotted;
    margin: 10px;

}

#fueraSeccion{
    padding-top: 30px;
    height: 75%;
    width: 35%;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    background-color: #b58c7c;
}

#menu{
    height: 5%;
    background-color: #b46424;
    margin: 0.5em;
    border-radius: 5px;
}

#ul1{
    text-align: center;
    padding: 10px;
}

#ul2{
    text-align: left;
    list-style: circle;
    margin-left: 2em;
}

#pie{
    height: 10%;
    background-color: #3a251c;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    color: white;
}

#pie h3{
    padding: 15px;
    font-size: 20px;
}

li{
    padding: 7px;
}

li2{
    display: inline;
    padding: 10px;
    margin: 2em;
}

a{
    text-decoration: none;
    color: white;
}

li2 a:hover{
    color:gold ;
    text-decoration: none;
    list-style: none;
}



.lista-img{
    padding: 10px;
    margin-left: 75px;
}


@media screen and (max-width: 900px){
    .encabezado,
    .encabezado-aside,
    .lista-img,
    #contenedor,
    #contenido,
    #pie,
    #menu,
    #fueraSeccion{
    width: 100%;
    margin: 0.5em;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    }

    body{
        background-color: black;
    }
    img{
        align-items: center;
    }
}
