*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Selector de etiquetas*/

body{
    background-color: black;
    background-image: url(/img/fondofeoGRIS.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
button{
    border-style: double;
    background-color: transparent;
    margin: 15px;
}

li{
    list-style: none;
    padding: 15px;
}

#b1:hover{
    background: rgb(255, 179, 0, 0.80);
    box-shadow:0 0 20px rgb(255, 179, 0), 0 0 40px rgb(255, 179, 0),
    0 0 80px rgb(255, 179, 0);
}

#b2:hover{
    background: rgb(255, 0, 0, 0.80);
    box-shadow:0 0 20px red, 0 0 40px red,
    0 0 80px red;
}

#b3:hover{
    background: rgb(0, 0, 255, 0.80);
    box-shadow:0 0 20px blue, 0 0 40px blue,
    0 0 80px blue;
}

#b4:hover{
    background: rgb(170, 0, 255, 0.80);
    box-shadow:0 0 20px rgb(170, 0, 255), 0 0 40px rgb(170, 0, 255),
    0 0 80px rgb(170, 0, 255);
}

#b5:hover{
    background: rgb(173, 255, 47, 0.80);
    box-shadow:0 0 20px greenyellow, 0 0 40px greenyellow,
    0 0 80px greenyellow;
}

#b6:hover{
    background: rgba(255, 255, 255, 0.8);
    box-shadow:0 0 20px rgb(255, 255, 255), 0 0 40px rgb(255, 255, 255),
    0 0 80px rgb(255, 255, 255);
}


.seleccion{
    background: rgb(37, 1, 34,);
    border:double 2px rgb(255, 179, 0);
    width: 65px;
    transition: 0.5s;
    
}

.seleccion2{
    background: rgb(37, 1, 34);
    border:double 2px red;
    transition: 0.5s;
    width: 65px;
}

.seleccion3{
    background: rgb(37, 1, 34);
    border:double 2px blue;
    transition: 0.5s;
    width: 65px;
}

.seleccion4{
    background: rgb(37, 1, 34);
    border:double 2px rgb(170, 0, 255);
    transition: 0.5s;
    width: 65px;
}

.seleccion5{
    background: rgb(37, 1, 34);
    border:double 2px greenyellow;
    transition: 0.5s;
    width: 65px;
}

.seleccion6{
    background: rgb(37, 1, 34);
    border:double 2px rgb(255, 255, 255);
    transition: 0.5s;
    width: 85px;
}

.contenedor{
    width: 900px;
    height: 600px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0, .30);
    margin-left: 300px;
    margin-right: auto;
}

.contenido{
    background-color: rgb(0, 0, 0, .30);
    margin: auto;
    border-radius: 5px;
    width: 50%;
    height: 10%;
    text-align: center;
}

.texto{
    padding-top: 20px;
    color: aliceblue;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pie{
    width: 900px;
    margin-left: 300px;
    border-radius: 5px;
    font-size: 12.5px;
    background-color: rgba(116, 64, 64, 0.2);
}

.encabezado{
    width: 900px;
    margin-left: 300px;
    border-radius: 5px;
    background-color: rgba(116, 64, 64, 0.2);
}

h2{
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.textoBoton{
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

hr{
    width: 80%;
    margin: auto;
}





ul{
    display: flex;
    flex-direction: column;
}
li{
    align-items: center;
    margin: 2px;
}

@media screen and (max-width: 1200px){
    .contenedor,
    .encabezado,
    .pie{
    width: 100%;
    margin: 0.5em;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    }

    body{
        background-color: black;
    }
}





