/*Selector universal*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Selector de etiquetas*/

body{
    background-color: #182d1c;
    color: black;
}

/*Selector de clase*/

.texto{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: black;
}


.img{
    width: 100px;
    border-radius: 5px;
    justify-items: center;
}

.encabezado-articulo{
    padding: 10px;
    text-align: center;
    background-color: rgb(83, 152, 87);
    color: rgb(255, 255, 255);
    margin: 1em, 2em;
    border-radius: 5px;
}

.encabezado-aside{
    padding: 10px 10px;
    text-align: center;
    background-color: rgb(89, 161, 81);
    color: white;
    margin: 1em 2em;
}

.menu-aside{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0, 25px;
}

.lista-aside{
    padding: 10px;
}

.lista-aside li {
    display: flex;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 2px;
    list-style: square;
    color: black;
}

/*Selector id*/
#contenedor{
    width: 900px;
    height: 1000px;
    background-color: bisque;
    max-width: 0 auto;
    border-radius: 5px;
}

#encabezado{
    width: 15%;
    background-color: #b46424;
    margin: 1em;
    border-radius: 5px;
    padding: 0 50px;

}

#menu{
    height: 5%;
    background-color: darkolivegreen;
    margin: 1em;
    border-radius: 5px;
}

#contenido{
    height: 75%;
    width: 58%;
    background-color: darkolivegreen;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}

#fueraSeccion{
    height: 75%;
    width: 35%;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    background-color: darkolivegreen;

}

#pie{
    height: 10%;
    background-color: cadetblue;
    margin: 1.5em;
    text-align: center;
    padding: 5px;

}

#pie h4{
    padding: 15px;
    font-size: 30px;
}

/*Selector de etiqueta*/

ul{
    text-align: center;
    padding: 10px;
}

li{
    display: inline;
    padding: 10px;
    margin: 3em;
}

li a:hover{
    color: crimson;
    text-decoration: none;
    list-style: none;
    
}


@media screen and (max-width: 900px){
    #encabezado,
    .encabezado-aside,
    .encabezado-articulo,
    #contenedor,
    #contenido,
    #pie,
    #menu,
    #fueraSeccion{
    width: 100%;
    margin: 0.5em;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    }

    body{
        background-color: black;
    }
}