*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Selector de etiquetas*/

body{
    background-image: url(/img/dffb88b53b7c35db89798479069d4643.png);
    background-repeat: no-repeat;
    background-position: center;
}

#contenido{
    background-color: black;
    color: white;
    margin: 1em;
    border-style: groove;
    width: 50%;
    height: 35%px;
}

#contenedor{
    background-color: darkred;
    color: white;
    margin: 1em;
    border-style: groove;
    width: 650px;
    height: 250px;
    border-radius: 6px;
}

.texto{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-decoration: none;
}

a{
    text-decoration: none;
    color:gold
}

a:hover{
    color: red;
}

.img{
    width: 160px;
    height: 130px;
    border-radius: 8px;
    justify-items: center;
    padding: 3px;
    margin-top: 30px;
    
}
 